# Visual Studio
.vs/
*.user
*.suo
bin/
obj/

API/.vs/
API/*.user
API/*.suo
API/bin/
API/obj/

*/API/.vs/
*/API/*.user
*/API/*.suo
*/API/bin/
*/API/obj/

# Angular / Node
Client/node_modules/
Client/dist/
CLient/.angular

**/node_modules/
**/dist/


# General
*.log